.headerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  margin-right: 20px;
  cursor: pointer;
}
.headerLinks:hover {
  color: black;
}
.headerLinks__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
.headerLinks__title {
  font-size: 12px;
  font-weight: 400;
}
