.header-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  margin-right: 20px;
  cursor: pointer;
}
.header-links:hover {
  color: #363636;
}
.header-links__icon {
  object-fit: contain;
  height: 35px !important;
  width: 35px !important;
}
.header-links__title {
  font-size: 12px;
  font-weight: 400;
}
